/*Header*/
header{
    background: #35424a;
    color: white;
    padding-top: 10px;
    padding-right: 550px;
    padding-left: -90px;
    margin-top: -20px;
    margin-right: 20px;
    min-height: 70px;
    border-bottom: orange 3px solid;
}
header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 5px;
    
}
header ul{
    margin-right: -520px;
    margin-left: -40px;
    margin-bottom: 40px;
    margin-top: -60px;
    padding: 10px 60px;    
    
}
header li{
    float: right;
    display: inline;
    padding-left: 5%;
    padding-right: 2%;
}
header .highlight {
    color: orange;
    font-weight: bold;
}
header .current a{
    color: orange;
    font-weight: bold;
}
header a:hover{
    color: #cccccc;
    font-size: bold;
}
.container
{
  position: relative;
  left: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.container .drop
{
    position: relative;
    margin-top: 70px;
    width: 350px;
    height: 350px;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05),
    25px 35px 20px rgba(0,0,0,0.05),
    25px 30px 30px rgba(0,0,0,0.05),
    inset -20px -20px 25px rgba(255,255,255,0.9);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 52% 48% 31% 67% / 38% 45% 55% 62%;
}
.container .drop:hover
{
    border-radius: 50%;
}
.container .drop::before
{
    content: '';
    position: absolute;
    top: 50px;
    left: 85px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #fff;
}
.container .drop::after
{
    content: '';
    position: absolute;
    top: 90px;
    left: 115px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
}
.container .drop .content
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    gap: 15px;
}
.container .drop .content h2
{
    position: relative;
    color: #333;
    font-size: 1.5em;
}
.container .drop .content form
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.container .drop .content form .inputBox
{
    position: relative;
    width: 225px;
    box-shadow: inset 2px 2px 10px rgba(0,0,0,0.1),
    inset -2px -5px 10px rgba(255,255,255,1)
    15px 15px 10px rgba(0,0,0,0.05),
    15px 10px 15px rgba(0,0,0,0.025);
    border-radius: 25px;
}
.container .drop .content form .inputBox::before
{
    content: '';
    position: absolute;
    top: 8px;
    left: 50px;
    background: rgba(255,255,255,1);
    border-radius: 5px;
}
.container .drop .content form .inputBox input
{
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 1em;
    padding: 10px 15px;
}
.container .drop .content form .inputBox input[type="submit"]
{
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer;
    letter-spacing: 0.1em;
    font-weight: 700;
}
.container .drop .content form .inputBox:last-child
{
    width: 120px;
    background: #ff0f5b;
    box-shadow: inset 2px 2px 10px rgba(0,0,0,0.1),
    15px 15px 10px rgba(0,0,0,0.05),
    15px 10px 15px rgba(0,0,0,0.025); 
    transform: 0.5s;
}
.container .drop .content form .inputBox:last-child:hover
{
    width: 150px;
}
.btns
{
    position: absolute;
    right: 345px;
    bottom: 0;
    width: 120px;
    height: 120px;
    background: #c61dff;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    line-height: 1.2em;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    transition: 0.25s;
    text-align: center;
    box-shadow: inset 10px 10px 10px rgba(190,1,254,0.05),
    15px 25px 10px rgba(190,1,254,0.1),
    15px 20px 20px rgba(190,1,254,0.1),
    inset -10px -10px 15px rgba(255,255,255,0.5);
    border-radius: 44% 56% 65% 35% / 57% 58% 42% 43%;
}
.btns::before
{
    content: '';
    position: absolute;
    top: 15px;
    left: 30px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.45;
}
.btns.signup
{
    bottom: 150px;
    right: 350px;
    width: 80px;
    height: 80px;
    border-radius: 65% 32% 52% 48% / 63% 67% 33% 37%;
    background-color: #01b4ff;
    box-shadow: inset 10px 10px 10px rgba(1,180,255,0.05),
    15px 25px 10px rgba(1,180,255,0.1),
    15px 20px 20px rgba(1,180,255,0.1),
    inset -10px -10px 15px rgba(255,255,255,0.5);
}
.btns.signup::before
{
    left: 20px;
    width: 15px;
    height: 15px;
}
.btns:hover
{
    border-radius: 50px;
}


footer{
    padding: 20px;
    margin-top: 80px;
    color:  #35424a;
    background-color: black;
    text-align: center;
}


/*media queries*/
@media(max-width: 768px){
    .btns.signup{
    bottom: 150px;
    right: 40px;
    width: 80px;
    height: 80px;
    border-radius: 65% 32% 52% 48% / 63% 67% 33% 37%;
    background-color: #01b4ff;
    box-shadow: inset 10px 10px 10px rgba(1,180,255,0.05),
    15px 25px 10px rgba(1,180,255,0.1),
    15px 20px 20px rgba(1,180,255,0.1),
    inset -10px -10px 15px rgba(255,255,255,0.5);
}
.btns{
    bottom: 40px;
    left: 415px;
    width: 100px;
    height: 80px;
    border-radius: 65% 32% 52% 48% / 63% 67% 33% 37%;
    background-color: violet;
    box-shadow: inset 10px 10px 10px rgba(190,1,254,0.05),
    15px 25px 10px rgba(190,1,254,0.1),
    15px 20px 20px rgba(190,1,254,0.1),
    inset -10px -10px 15px rgba(255,255,255,0.5);
    border-radius: 44% 56% 65% 35% / 57% 58% 42% 43%;

}
.container
{
  position: relative;
  left: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
header #branding{
    float: none;
    text-align: center;
    width: 0px;
}
header nav li{
    float: none;
    text-align: left;
    width: 150px;
    padding-top: 50px;
}
header nav ul{
margin-right: -550px;
margin-left: -210px;
margin-bottom: 90px;
margin-top: -130px;
padding: 10px 600px;    
}
header{
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 350px;
    width: 200px;

}

header nav{
    float: none;
    text-align: center;
    width: 100px;
    padding-bottom: -50px;
    margin-bottom: -110px; 
}
}